# TensorFlow and Keras
tensorflow==2.12.0
keras==2.12.0

# Additional dependencies
dill
scikit-learn
statsmodels
scipy
lzma

# Basic modules
numpy
pandas
matplotlib
seaborn
pykalman
hurst
